<script setup lang="ts"></script>

<template>
  <br />
  <v-card class="mx-auto" max-width="400" rounded="0">
    <v-img
      height="100%"
      cover
      src="https://img.favpng.com/6/18/0/light-desktop-wallpaper-blue-black-cyan-png-favpng-kAXSxeaFbnhYzBy3JmcecHcce.jpg"
    >
      <v-avatar color="grey" size="150" rounded="0">
        <v-img
          cover
          src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/319386132_892621641770401_8782410413394923428_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF3O8Kfr7X5Z8tsSvhRa_yGxlzwxaqdcCbGXPDFqp1wJsiR1n1IOACaFj6WvJy6e45dITt0FkBKVWoUaetMX_Xs&_nc_ohc=YDNHz7Yqi4cAX87r1wA&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdR2ydcOO2vQT7DZ0hXKS_a9UKPS84SgRZKC5xbfHBN6YQ&oe=63C694CE"
        ></v-img>
      </v-avatar>
      <v-list-item
        class="text-white"
        title="Arisa Thathongkum"
        subtitle="Faculty of Informatics"
      ></v-list-item>
    </v-img>
  </v-card>
  <br />
  <div class="d-flex justify-space-around align-center text-h5">
    ประวัติส่วนตัว
  </div>
  <v-container>
    <v-row justify="center">
      <v-col cols="4">
        <v-table>
          <thead>
            <tr>
              <th>ชื่อ - นามสกุล</th>
              <td>นางสาวอริสา ทาทองคำ</td>
            </tr>

            <tr>
              <th>ชื่อเล่น</th>
              <td>ฟ้า</td>
            </tr>

            <tr>
              <th>วัน/เดือน/ปี เกิด</th>
              <td>14/01/2546</td>
            </tr>

            <tr>
              <th>อายุ</th>
              <td>19 ปี</td>
            </tr>
            <tr>
              <th>ประวัติการศึกษา</th>
              <td>
                ประถมศึกษา : โรงเรียนบ้านมหาเจริญ <br />มัธยมศึกษา :
                โรงเรียนวังหลังวิทยาคม <br />
                ปัจจุบันกำลังศึกษาที่มหาวิทยาลัยบูรพา
              </td>
            </tr>
            <br />
            <tr>
              <th>สิ่งที่สนใจ/สิ่งที่อยากทำ</th>
              <td>
                อยากศึกษาวิชา web programming เพิ่มเติม
                เพราะรู้สึกว่าวิชานี้มีความซับซ้อนและเข้าใจยากมากๆเลยค่ะ TT
              </td>
            </tr>
            <br />
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
